body{
    background: #edf0f1;
    padding: 80px 0 0 0;
}

body,
input,
button{
    font-family: 'Roboto', sans-serif;
}

.noFill{
    fill:none;
}

header{
    width: 100%;
    height: 80px;  
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px;
    z-index: 5;
    background: #25b99a; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 2px 4px rgba(43, 61, 80, 0.15); 
} 

header input{
    width: 100%;
    height: 50px;
    float: left;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 16px;
    padding: 0, 65px, 0, 0;
    background: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
}

header input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.75);
}
header input:-moz-input-placeholder{
    color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder{
    color: rgba(255, 255, 255, 0.75);
}

header input::-ms-input-placeholder{
    color: rgba(255, 255, 255, 0.75);
}


header button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border: 0px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

header button svg{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

header button svg .fill{
        fill:#25b99a; 
}

.container{
    width: 100%;
    float: left;
    padding: 15px;
}

ul.todo{
    width: 100%;
    float: left;

}

ul.todo li{
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10); 
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
}

ul.todo li:last-of-type{
    margin: 0;
}

ul.todo li .buttons{
    width: 100px;
    height: 50px;
    position: absolute;
    top:0;
    right: 0;
}

ul.todo li .buttons button{
    width: 50px;
    height: 50px;
    float: left;
    background: none;
    position: relative;
    border:0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

ul.todo li .buttons button:last-of-type:before{
    content: '';
    width: 1px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 0;
    background: #edf0f1;
}

ul.todo li .buttons button svg{
    width: 22px;
    height: 22px;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}


ul.todo li .buttons button.complete svg{
    border-radius: 11px;
    border:1.5px solid #25b99a;

    transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg{
    background: #25b99a;
    border: 0px;
}

ul.todo:mot(#completed) li .buttons button.complete:hover svg{
    background: rgba(37, 185, 154, 0.75);
}

ul.todo:mot(#completed) li .buttons button.complete:hover svg{
    fill: #fff;
}

ul.todo#completed li .buttons button.complete svg .fill{
    fill: #ffffff;
}

ul.todo li .buttons button svg .fill{
    transition:fill 0.2 ease;
}

ul.todo li .buttons button.remove svg .fill{
    fill:#c0cecb;
}

ul.todo li .buttons button.remove:hover svg .fill{
    fill:#e85656;
}

ul.todo li .buttons button.complete svg .fill{
    fill: #25b99a;
}
